$black: #000;
$white: #ffffff;
$gray: #6A696B;
$violet: #2e0448;
$primary:   #202020;

$secondary: #121212;
$red:       #ED3024;
$blue:      #3137C9;

$tablet-bp: 991px;
$mobile-bp: 575px;
