.contacts{
    height: 300px;
    text-align: center;


}

.contacts__title{
    margin-top: 50px;
    font-size: 2.25rem;
    color: $black;
    font-weight: 700;
}


.contacts__content{
    margin-top: 20px;
}
