<div class="modal" id="auth">
    <div class="modal__content">
        <button class="modal__close modal__close--auth" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>


  <form class="form" action="/" method="post">
           <h1 class="page__title">Реєстрація</h1>
           <div class="form__group  form__group--md">
                <input class="form__control" type="text" placeholder="Ім'я">
                <span class="form__line"></span>
            </div>

            <div class="form__group  form__group--md">
                <input class="form__control" type="text" placeholder="Прізвище">
                <span class="form__line"></span>
            </div>

             <div class="form__group  form__group--md">
                <input class="form__control" type="text" placeholder="Місто">
                <span class="form__line"></span>
            </div>

            <div class="form__group  form__group--md">
                <input class="form__control" type="text" placeholder="Навчальний заклад">
                <span class="form__line"></span>
            </div>

            <div class="form__group  form__group--md">
                <input class="form__control" type="email" placeholder="Логін">
                <span class="form__line"></span>
            </div>

            <div class="form__group  form__group--md">
                <input class="form__control" type="password" placeholder="Пароль">
                <span class="form__line"></span>
            </div>


            <div class="form__group  form__group--md">
                <input class="form__control" type="password" placeholder="Повторіть пароль">
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group  form__group--md">
                    <button class="btn  btn--blue  btn--rounded  btn--sm" type="submit">Зареєструватися</button>
                </div>
                <a href="#" data-modal="signin">вже є акаунт?</a>
            </div>
        </form>

    </div>
</div>
