<footer class="footer">
    <div class="footer__inner">
        <div class="footer_logo">
         <div class="logo">
                <div class="">
                  <img src="../assets/images/brain.png" class="logo__image" alt="">
                </div>
                <div class="logo__content">
                    <div class="logo__name">
                        <h3>SkillLand</h3>
                    </div>
                    <div class="logo__desc">
                         Навчальна платформа <br> для школярів
                    </div>
                </div>
            </div>
        </div>
            <div class="footer__text">©SkillLand 2020</div>
    </div>
</footer>
