<div class="modal" id="signin">
    <div class="modal__content">
        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>


       <form class="form" action="/" method="post">
           <h1 class="page__title">Вхід</h1>
            <div class="form__group  form__group--md">
                <input class="form__control" type="email" placeholder="Логін">
                <span class="form__line"></span>
            </div>

            <div class="form__group  form__group--md">
                <input class="form__control" type="password" placeholder="Пароль">
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group  form__group--md">
                    <button class="btn  btn--blue  btn--rounded  btn--sm" type="submit">Увійти</button>

                </div>
                <a href="#">забули логін чи пароль?</a>
            <div><a href="#" data-modal="auth">реєстрація</a></div>
            </div>



        </form>

    </div>
</div>
